@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
   margin:0;
   padding: 0;
}
.banner-items{
     display: flex;
     align-items: center;
     padding-left: 156px;
    padding-top: 207px;
}
header{
    width: 1440px;
height: 677px;
left: 0px;
top: 0px;
background-color: #2D25A0;
}
.header-left{
    color: #ffffff;
font-style: normal;
font-family: 'Poppins', sans-serif;
font-size: 32px;
}
.banner img{
    margin-left: 120px;
    width: 556px;
height: 438px;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    margin-left: 8px;
   
}
button{
    color: #ffffff;
width: 168px;
height: 44px;
padding:12px 24px 10px 24px ;
background: #E02C6D;
border: none;
left: 156px;
top: 464px;
}
button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
 /******************* main styles ******************/
 .content img,.content-title{
width: 300px;
height: 256px;
padding: 15px;
 }
 .players{
     padding-left: 180px;
     padding-top: 70px;
     display: grid;
     grid-template-columns: 330px;
     grid-template-columns: repeat(3,2fr);
     grid-row-gap: 27px;
     
 }
 .container{
 width: 330px;
height: 474px;
background-color: white;
border: 1px solid white;
box-shadow: 0 0 10px grey;
margin-right: 15px;
 }
 /* ******************highlight imformation*********** */
 .Highlights{
     display: flex;
 }
 .highlights-items{
     display: flex;
     align-items: center;
     padding-left: 156px;
    
}

.details{
    color: #000000;
    display: flex;
   
}
.left{
    display: flex;
    flex-direction: column;
   
}
.left-item{
    margin-top: 224px;
    
}

.highlight-title{
    font-style: normal;
font-family: 'Poppins', sans-serif;
 font-size: 48px;
   
}


.highlight-banner img{
    margin-top: 165px;
    margin-left: 90px;
    width: 567px;
height: 427px;
}
.paragraph{
    font-size: 16px;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    margin-left: 8px;
   
}
.button-1{
    margin-top: 34px;
    color: #ffffff;
width: 168px;
height: 44px;
padding:12px 24px 10px 24px ;
background: #E02C6D;
border: none;

}
button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

/* transition */
.celebration{
    margin-left: 182px;
    margin-top: 40px;
}
.wrapper{
    width: 1170px;
    margin:10% auto;
    display: flex;
    flex-direction:row;  
}
.celebration-title{
    font-family: 'Poppins', sans-serif;
 font-size: 48px;

}
.box{
    height: 230px;
    width: 30%;
    margin-right: 20px;
    overflow:hidden;
    position:relative;
}
.img1{
    position: absolute;
    z-index:2;
    transition: .4s;
    transform-origin: 50% 50%;
    width:100%;
}
.img2{
    filter: blur(20px);
    transform:scale(1.1) ;
    opacity: 0;
}
.box:hover .img1{
    filter: blur(20px);
    transform: scale(1.1);
    opacity: 0;
}
.box:hover .img2{
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
}
/* ****************footer style**************** */
footer{
   
    margin-top: 100px;
   width: 1440px;
    height:300px;
}
.foot{
    width: 483px;

margin-left: 475px;
}
.brand-logo img{
    width:483px ;
    height:110px;
    
}
.icons{
margin-left:50px;


}
.footer-icon{   
 text-align: center;
 transform: scale();

 
height: 32px;
}
.fab{
    color: #0B0D17, 100%;
    margin-right: 8px;
    padding: 6px 6px 6px 6px;
   background-color: #969BAB;
   opacity: 0.5;
font-size: 23px;
border-radius: 25px;
}
.fab:hover{
    font-size: 46px;
}
.copy-right{
    margin-top: 40px;
    font-size: 18px;
    margin-left: 160px;

}


